In [39]:
import pandas as pd

from sqlalchemy import create_engine

In [40]:
from pyodbc import drivers
for driver in drivers():
    print(driver)

SQL Server

In [41]:
dados = pd.read_excel(r"C:\Users\gabriel\Downloads\Cuso-Excel.xlsx")

display(dados)

,Nome,Nota_1,Nota_2,Média,Média.1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Ana,7.5,7.0,7.25,Passou,NaN,NaN,NaN,NaN,NaN
1,Cláudio,7.5,6.0,6.75,Não passou,NaN,NaN,NaN,NaN,NaN
2,Mauro,7.5,8.7,8.10,Passou,NaN,NaN,NaN,NaN,NaN
3,Paula,7.5,5.0,6.25,Não passou,NaN,NaN,NaN,NaN,10.0
4,Daniele,10.0,4.3,7.15,Passou,NaN,NaN,NaN,NaN,NaN
5,Matheus,4.5,9.9,7.20,Passou,NaN,NaN,NaN,NaN,NaN
6,Marina,2.6,10.0,6.30,Não passou,NaN,NaN,NaN,NaN,NaN

In [42]:
import mysql.connector

conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database= 'pythonsql',

)

database_con = f'mssql://@{server}'

cursor = conexao.cursor()
print('Conexão Feita')

engine =  create_engine( fast_executemany=False)
con = engine.connect

Conexão Feita

TypeError: create_engine() missing 1 required positional argument: 'url'

In [ ]:
dados.to_sql('Nome',  index= False, if_exists= 'append')

TypeError: NDFrame.to_sql() missing 1 required positional argument: 'con'